:root {
  --bg-body: #131416;
  --color-font: #ffffff;
  --color-button: #0772EB;
  --color-card: #1E212C;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background: var(--bg-body); 
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.container {
  max-width: 83rem;
  margin: auto;
}

.logo h2 {
  color: var(--color-font);
}

.logo img {
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 0.5rem;
}

/* SECTION 1 */

.section-1 {
  display: flex;
  margin-top: 10rem;
}

.action-title h2 {
  font-size: 4rem;
  color: var(--color-font);
}

.button {
  background: var(--color-button);
  color: var(--color-font);
  display: inline-block;
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  text-transform: uppercase;
  margin-top: 5rem;
  font-weight: bold;
  text-decoration: none;
  transition: filter 0.2s ease-in;
}

.button:hover {
  filter: brightness(0.8);
}

.ebook img {
  width: 23rem;
  height: auto;
  margin-right: 4rem;
}

/* SECTION 2 */
.section-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 18rem;
}

.section-2 h2 {
  color: var(--color-font);
  text-transform: uppercase;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background: var(--color-card);
  width: 24rem;
  height: 20rem;
  color: var(--color-font);
}

.card img {
  width: 6.5rem;
  height: 6.5rem;
}

/* SECTION 3 */

.section-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}

.button-2 {
  display: inline-block;
  background: var(--color-card);
  color: var(--color-font);
  padding: 2rem 3.5rem;
  border-radius: 5rem;
  text-decoration: none;
  font-weight: bold;
}

.section-3 h2 {
  font-size: 4.8rem;
  color: var(--color-button);
  margin-top: 3.5rem;
}

.section-3 p {
  color: var(--color-font);
  line-height: 7rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1C2029;
  height: 10rem;
  margin-top: 5rem;
}

.button-footer {
  display: inline-block;
  padding: 1.5rem 7rem;
  background: var(--color-button);
  border-radius: 5rem;
  color: var(--color-font);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -2.4rem;
}

footer p {
  color: var(--color-font);
  line-height: 7rem;
  font-size: 1.4rem;
}

@media (max-width: 760px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-1 h2 {
    padding: 1.6rem;
  }

  .ebook img {
    margin-right: 0;
  }

  .action-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .action-title h2 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    max-width: 40rem;
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  .cards .card + .card {
    margin-top: 4.5rem;
  }

  .section-3 h2 {
    text-align: center;
    font-size: 3.5rem;
  }
}